<!DOCTYPE html>
<html lang="ru" data-theme>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Логи</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/custom-buttons.css">
</head>
<body>
  <div class="main-container">
    <h1 class="admin-container__title">Логи</h1>
    <ul class="logs-list">
      <% logs.forEach(log => { %>
        <li class="logs-list__item">[<%= log.createdAt.toLocaleString() %>] <strong><%= log.action %></strong>: <%= log.details %></li>
      <% }) %>
    </ul>
    <div class="links">
      <a href="/admin" class="button button--secondary">Назад</a>
    </div>
    <button id="theme-toggle" class="button button--secondary">Переключить тему</button>
  </div>
  <script src="/js/theme.js"></script>
</body>
</html> 