/* Переменные тем */
:root[data-theme='light'] {
  --bg-color: #f0f0f0;
  --container-bg-color: #fff;
  --text-color: #333;
  --accent-color: #18a06a;
  --error-color: #e74c3c;
}

:root[data-theme='dark'] {
  --bg-color: #333;
  --container-bg-color: #444;
  --text-color: #f0f0f0;
  --accent-color: #18a06a;
  --error-color: #e74c3c;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}




